<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesga.css' %}">
    <title>Guess-a-Ammo</title>
  </head>

  <body>

    <div>
      <img src="{{guess.imagen.url}}" alt="Ammo" />
    </div>

    {{num}}

    <div>
      {% for respuesta in respuestas %} 
        {% if respuesta == guess %}
        <div class="button-borders">
          <button class="primary-button"><a href="{% url 'guessed' respuesta.id 1 %}">{{respuesta}}</a>
          </button>
        </div>
          
        {% else %}
        <div class="button-borders">
          <button class="primary-button"><a href="{% url 'guessed' respuesta.id 0 %}">{{respuesta}}</a>
          </button>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>
