<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesga.css' %}">
    <script src="{% static 'js/guessammo.js' %}" defer></script>
    <title>Guess-a-Ammo</title>
  </head>

  <body>
    
    <div>
      <img src="{{guess.imagen.url}}" alt="Ammo" />
      <img id="default" style="display: none;">
      <p id="result"></p>
    </div>

    <div>
      {% for respuesta in respuestas %} 
   
        <div class="button-borders">
          <button class="primary-button" id="{{respuesta}}">{{respuesta}}
          </button>
        </div>

      {% endfor %}
    </div>
    <script>
      var guess = '{{guess}}'
      var respuestas = [
      {%for item in respuestas%}
      '{{item}}',
      {%endfor%}
      ]
      var url = [
      {%for item in respuestas%}
      '{{item.imagen.url}}',
      {%endfor%}
      ]
    </script>
  </body>
</html>
