<!DOCTYPE html>
<html>
  <head>
    <title>Guess-a-Ammo</title>
    <style>
      a {
        display: block;
        text-align: center;
      }
      img {
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>

    <div>
      <img src="{{url}}" alt="Ammo" />
    </div>

    {{num}}

    <div>
      {% for respuesta in respuestas %} 
        {% if respuesta == guess %}
          <a href="{% url 'guessed' respuesta.id 1 %}">{{respuesta}}</a>
        {% else %}
          <a href="{% url 'guessed' respuesta.id 0 %}">{{respuesta}}</a>
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>
